<div class="ng-scope">
  <div class="container">
    <ul class="nav">
      <li>
        <a routerLink='/start'>home</a>
      </li>
      <li>
        <a routerLink='/transfer'>transfer</a>
      </li>
    </ul>
  </div>
</div>